* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: inherit;
    text-decoration: none;
    font-family: 'Roboto',
        sans-serif;
}

:root{
    /* hsl(177, 70%, 41%) */
    --theme-color-1-hue: 177;
    --theme-color-1-saturation: 70%;
    --theme-color-1-lightness: 41%;
    --theme-color-1: hsl(var(--theme-color-1-hue), var(--theme-color-1-saturation), var(--theme-color-1-lightness));
}

.navbar {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.navbar--diagonal-background {
    position: relative;
    overflow: hidden;
}

.navbar--diagonal-background::before {
    content: "";
    position: absolute;
    width: 200%;
    height: 300px;
    z-index: -1;
    background: linear-gradient(var(--theme-color-1), var(--theme-color-1)) 0 0 repeat;
    transform: rotate(-30deg);
    animation: diagonal-background-move 2s;
}

@keyframes diagonal-background-move {
    0% {height: 0px}
    100%{height: 300px}
}

.navbar__link {
    margin: 1rem 2.5rem 0.2rem 2.5rem;
    font-weight: bold;
    --theme-color-1-saturation: 80%;
    --theme-color-1-lightness: 45%;
    color: hsl(var(--theme-color-1-hue), var(--theme-color-1-saturation), var(--theme-color-1-lightness));
}

.navbar__link a {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: text-emerging 2s;
    animation-delay: 1.3s;
    animation-fill-mode: backwards;
}

.navbar__link span {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
}

.navbar__link hr {
    border-top: 2px solid;
    width: 0%;
    visibility: hidden;
    transition: width .4s ease;
}

.navbar__link:hover hr {
    width: 100%;
    visibility: visible;
}

@keyframes text-emerging {
    0% {opacity: 0}
    100% {opacity: 1}
}