* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: inherit;
    text-decoration: none;
    font-family: 'Roboto',
        sans-serif;
    scroll-behavior: smooth;
}

:root {
    /* hsl(0, 70%, 41%) */
    /* --theme-color-1-hue: 0;
    --theme-color-1-saturation: 70%;
    --theme-color-1-lightness: 41%; */
    --theme-color-1-hue: 0;
    --theme-color-1-saturation: 67%;
    --theme-color-1-lightness: 41%;
    --theme-color-1: hsl(var(--theme-color-1-hue), var(--theme-color-1-saturation), var(--theme-color-1-lightness));
}

body {
    background-attachment: fixed;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23e1e1e1' fill-opacity='0.4'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
} 

/* 
    ### NAVBAR  ###
*/

.navbar {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.navbar--diagonal-background {
    position: relative;
    overflow: hidden;
}

.navbar--diagonal-background::before {
    content: "";
    position: absolute;
    width: 40%;
    height: 100%;
    left: -5%;
    z-index: -1;
    background: linear-gradient(var(--theme-color-1), var(--theme-color-1)) 0 0 repeat;
    animation: diagonal-background-navbar 1.9s;
    transform: skewX(-60deg);
}

.navbar__link {
    margin: 1rem 1.5rem 0.2rem 1.5rem;
    text-transform: uppercase;
    --theme-color-1-saturation: 80%;
    --theme-color-1-lightness: 45%;
    color: hsl(var(--theme-color-1-hue), var(--theme-color-1-saturation), var(--theme-color-1-lightness));
}

.navbar__link:last-child {
    margin-right: 8%;
}

.navbar__link a {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: emerging 2s;
    animation-delay: 1.8s;
    animation-fill-mode: backwards;
}

.navbar__link span {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.navbar__link hr {
    border-top: 2px solid;
    width: 0%;
    visibility: hidden;
    transition: width .4s ease;
}

.navbar__link:hover hr {
    width: 100%;
    visibility: visible;
}

.container {
    width: 80%;
    margin: auto;
}

/* 
    ### CARD ###
                    */

.card {
    margin: 5rem 0 8rem 0;
}

.card:first-of-type {
    margin: 3rem 0 7rem 0;
}

.card__header {
    font-size: 3rem;
    color: var(--theme-color-1);
    font-weight: normal;
    margin-bottom: 2rem;
    animation: emerging 2s;
    animation-delay: 3s;
    animation-fill-mode: backwards;
}

.card__header--left {
    margin-left: 20%;
}

.card__header--right {
    text-align: right;
    margin-right: 20%;
}

/* 
    ### PERSONAL DATA ###
                    */

.personal-data {
    height: 35rem;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 1fr;
}

.personal-data--diagonal-background {
    position: relative;
    overflow: hidden;
}

.personal-data--diagonal-background::before {
    content: "";
    position: absolute;
    width: 400%;
    height: 69.3vw;
    left: -10%;
    z-index: -1;
    background: url(../image/backdrop-874452_1280.jpg) 0 0 repeat;
    /* background: url(https://images.unsplash.com/photo-1476445704028-a36e0c798192?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80) 0 0 repeat; */
    /* background-color: rgb(64, 224, 163); */
    /* background: url(https://images.unsplash.com/photo-1561390574-d065e80bbb3b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1055&q=80) 0 0 repeat; */
    transform: rotate(26deg);
    animation: diagonal-background-personal-data 2s;
}

.personal-data__media {
    align-self: end;
    font-size: 1.1rem;
    color: var(--theme-color-1);
    animation: emerging 2s;
    animation-delay: 2.2s;
    animation-fill-mode: backwards;
}

.personal-data__media p {
    margin-bottom: 1.1rem;
}

.personal-data__media p:last-of-type {
    display: none;
}

.personal-data__media i {
    margin-right: 0.9rem;
}

.personal-data__media br {
    display: none;
}

.media__social-media {
    font-size: 2.1rem;
}

.media__social-media:hover {
    --theme-color-1-lightness: 47%;
    color: hsl(var(--theme-color-1-hue), var(--theme-color-1-saturation), var(--theme-color-1-lightness));
}

.personal-data__circle-background {
    width: 16rem;
    height: 16rem;
    background-color: white;
    border-radius: 100%;
    justify-self: center;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-background__circle-photo {
    width: 14rem;
    height: 14rem;
    background-image: url(../image/patryk2.jpg);
    background-position: 0 0;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 100%;
}

.personal-data__details {
    align-self: start;
    padding: 3rem 0;
    color: white;
    animation: emerging 2s;
    animation-delay: 2.7s;
    animation-fill-mode: backwards;
}

.personal-data__details p {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
    font-family: 'Audiowide',
    sans-serif;
}

.personal-data__details p:first-of-type{
    font-size: 4rem;
}

/* 
    ### TECHNOLOGIES ###
                    */

.skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 2.5rem 2rem;
    background-color: rgb(254, 254, 254);
    box-shadow: 10px 9px 11px -7px rgb(0, 0, 0, 0.3);
    animation: emerging 2s;
    animation-delay: 3s;
    animation-fill-mode: backwards;
}

.skills__tech-card{
    display: grid;
    grid-template-rows: 13rem 2rem 2rem;
    border-right: 0.08rem solid var(--theme-color-1);
}

.skills__tech-card:last-child {
    border-right: none;
}

.tech-card__logo{
    display: flex;
    justify-content: center;
    font-size: 8rem;
    margin-bottom: 2rem;
}

.logo__css3{
    align-self: flex-end;
    font-size: 6rem;
    color: rgb(99, 99, 99);
    transition: color 0.3s;
}

.logo__html5 {
    font-size: 6rem;
    color: rgb(99, 99, 99);
    transition: color 0.3s;
}

.logo__javascript {
    align-self: flex-end;
    font-size: 5.5rem;
    color: rgb(99, 99, 99);
    transition: color 0.3s;
    margin-bottom: 0.3rem;
}

.skills__tech-card:hover .logo__css3{
    color: rgb(0, 109, 252);
}

.skills__tech-card:hover .logo__html5 {
    color: rgb(255, 102, 0);
}

.skills__tech-card:hover .logo__javascript {
    color: rgb(247, 247, 16);
}

.logo__java {
    font-size: 10rem;
    align-self: center;
    color: rgb(99, 99, 99);
    transition: color 0.3s;
}

.skills__tech-card:hover .logo__java {
    color: rgb(219, 57, 28);
}

.logo__tool {
    font-size: 6.5rem;
    align-self: flex-end;
    color: rgb(99, 99, 99);
    transition: color 0.3s;
}

.skills__tech-card:hover .logo__tool {
    color: rgb(0, 128, 0);
}


.tech-card__header{
    text-align: center;
    color: var(--theme-color-1);
}

.tech-card__details{
    text-align: center;
    margin: 0 1rem;
}

/* 
    ### PROJECTS ### 
                    */

.projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 2rem;
    animation: emerging 2s;
    animation-delay: 3s;
    animation-fill-mode: backwards;
}

.projects__project{
    --side-margin: 3%;
    width: calc(100%/3 - 2*var(--side-margin));
    height: 20rem;
    margin: 0 var(--side-margin) 4rem var(--side-margin);
    display: grid;
    grid-template-rows: 85% 15%;
    background-color: rgb(254, 254, 254);
    box-shadow: 10px 9px 11px -7px rgb(0, 0, 0, 0.3);
    transition: transform 0.5s,
    box-shadow 0.5s;
}

.projects__project:hover{
    transform: scale(1.1);
    box-shadow: 10px 9px 11px 5px rgb(0, 0, 0, 0.3);
}

.project__img{
    position: relative;
}

.img__photo{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

.img__more{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    opacity: 0;
    background-color: rgb(0, 0, 0, 0.4);
    transition: opacity 0.5s;
}

.projects__project:hover .img__more {
    opacity: 1;
}

.more__description{
    color: white;
    margin-bottom: 1.5rem;
    text-align: center;
    padding: 1rem;
    font-weight: bold;
    cursor: default;
}

.more__button{
    color: white;
    padding: 0.6rem 2rem;
    background-color: var(--theme-color-1);
    border-radius: 0.3rem;
    border: none;
    cursor: pointer;
    outline: none;
    transition: background-color 0.2s;
}

.more__button:active {
    transform: scale(0.97);
}

.more__button:hover {
    background-color: rgb(255, 187, 0);
}

.project__header{
    color: rgb(99, 99, 99);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
}

/* @keyframes diagonal-background-navbar {
    0% {
        width: 0;
    }

    100% {
        width: 40%;
    }
}

@keyframes emerging {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@keyframes diagonal-background-personal-data {
    0% {
        height: 0;
    }

    100% {
        height: 69.2vw;
    }
} */

@media only screen and (max-width: 1170px) {

    .navbar__link:last-child {
        margin-right: 4rem;
    }

    .card {
        margin: 5rem 0 6rem 0;
    }

    .container {
        width: 91%;
    }

    .personal-data__media {
        font-size: 1rem;
    }

    .personal-data__media p {
        margin-bottom: 1.1rem;
    }

    .personal-data__media i {
        margin-right: 0.7rem;
    }

    .media__social-media {
        font-size: 2rem;
    }

    .personal-data--diagonal-background::before {
        height: 90vw;
        transform: rotate(30deg);
    }

    .personal-data__details p {
        font-size: 1rem;
        margin: 0 0 1rem 0.5rem;
    }

    .personal-data__details p:first-of-type {
        font-size: 3.5rem;
    }

    .skills {
        padding: 2.5rem 0rem;
    }

    .logo__css3 {
        font-size: 5.5rem;
    }

    .logo__html5 {
        font-size: 5.5rem;
    }

    .logo__javascript {
        font-size: 5rem;
    }

    .logo__java {
        font-size: 10rem;
    }

    .logo__tool {
        font-size: 5.75rem;
    }

    .projects__project {
        --side-margin: 3%;
        width: calc(100%/2 - 2*var(--side-margin));
        margin: 0 var(--side-margin) 4rem var(--side-margin);
    }

    /* @keyframes diagonal-background-personal-data {
        0% {
            height: 0;
        }

        100% {
            height: 90vw;
        }
    } */
}

@media only screen and (max-width: 860px){
    
    .navbar--diagonal-background::before {
        left: -10%;
    }

    .card {
        margin-bottom: 2.5rem;
    }

    .card:first-of-type {
        margin: 2rem 0 3rem 0;
    }

    .card__header{
        margin-bottom: 1rem;
    }

    .container {
        width: 95%;
    }

    .personal-data {
        height: 20rem;
    }

    .personal-data--diagonal-background::before {
        height: 80vw;
        transform: rotate(25deg);
    }

    .personal-data__media p {
        margin-bottom: 0.5rem;
    }

    .personal-data__media br {
        display: block;
    }

    .personal-data__circle-background {
        width: 14rem;
        height: 14rem;
    }

    .circle-background__circle-photo {
        width: 13rem;
        height: 13rem;
    }

    .personal-data__details p {
        margin: 0 0 1rem 1rem;
    }

    .personal-data__details p:first-of-type {
        font-size: 3rem;
    }

    .skills {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 2.5rem 1.5rem;
        box-shadow: none;
    }

    .skills__tech-card {
        border: none;
        width: 50%;
        display: grid;
        grid-template-rows: 13rem 2rem 2rem;
    }

    .tech-card__logo {
        margin-bottom: 1.5rem;
    }

    .projects__project {
        --side-margin: 15%;
        width: calc(100% - 2*var(--side-margin));
    }

    /* @keyframes diagonal-background-personal-data {
        0% {
            height: 0;
        }tf

        100% {
            height: 114vw;
        }
    } */
}

@media only screen and (max-width: 760px) {

    .navbar__link {
        margin: 1rem 0.5rem 0.2rem 0.5rem;
    }

    .card:first-of-type {
        margin: 1rem 0 3rem 0;
    }

    .card {
        margin: 4rem 0 4rem 0;
    }

    .card__header {
        text-align: center;
    }

    .card__header--left {
        text-align: center;
        margin: auto;
    }

    .card__header--right {
        text-align: center;
        margin: auto;
    }

    .personal-data {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
    }

    .personal-data--diagonal-background {
        position: relative;
    }

    .personal-data--diagonal-background::before {
        height: 140vw;
        transform: rotate(30deg);
    }

    .personal-data__media{
        position: absolute;
        display: flex;
        align-items: flex-end;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }

    .personal-data__media p {
        display: none;
    }

    .personal-data__media p:last-of-type {
        font-family: 'Audiowide',
        sans-serif;
        font-size: 2.7rem;
        padding : 0 0 0 3rem;
        margin: 0;
        display: block;
    }

    .personal-data__circle-background {
        width: 13rem;
        height: 13rem;
    }

    .circle-background__circle-photo {
        width: 12rem;
        height: 12rem;
    }

    .personal-data__details{
        position: absolute;
        display: flex;
        justify-content: flex-end;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }

    .personal-data__details p{
        font-size: 1.9rem;
        padding: 0.8rem 1rem 0 0;
    }

    .personal-data__details p:first-of-type {
        display: none;
    }

    .projects {
        padding-top: 3rem;
    }

    /* @keyframes diagonal-background-personal-data {
        0% {
            height: 0;
        }tf

        100% {
            height: 170vw;
        }
    } */
}

@media only screen and (max-width: 560px) {

    .navbar__link:last-child {
        margin-right: 5%;
    }

    .personal-data {
        height: 20rem;
    }

    .personal-data__details p {
        font-size: 1.5rem;
    }

    .personal-data__media p:last-of-type {
        font-size: 2.1rem;
        padding: 0;
        display: block;
        width: 100%;
        text-align: center;
    }
}

@media only screen and (max-width: 520px) {

    .container {
        width: 100%;
    }

    .navbar--diagonal-background::before {
        left: -15%;
    }

    .skills__tech-card {
        width: 100%;
        margin-bottom: 1rem;
    }

    .projects__project {
        height: 15rem;
    }
}

@media only screen and (max-width: 420px) {

    .projects__project {
        height: 13rem;
    }

    .navbar--diagonal-background::before {
        width: 25%;
    }
}