* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: inherit;
    text-decoration: none;
}

.navbar-links{
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.navbar-links--background-slash {
    
}

.navbar-links__link {
    margin: 1rem 2.5rem;
}

.navbar-links__link > a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar-links__link > a > span {
    margin-bottom: 0.5rem;
}

.navbar-links__link > a > hr {
    border-top: 1.5px solid;
    width: 0%;
    visibility: hidden;
}

.navbar-links__link:hover > a > hr {
    width: 100%;
    visibility: visible;
    transition: width .4s ease;
}

/*
.nav__navbar-links > li > a{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}
.nav__navbar-links > li > a > hr {
    border-top: 1.5px solid red;
    width: 0%;
    visibility: hidden;
}

.nav__navbar-links > li:hover > a > hr{
    width: 100%;
    visibility: visible;
    transition: width .4s ease;
}
*/