:root {
    --theme-color-1: #FCCd04;
    --theme-color-2: rgb(143, 63, 175);
    --theme-color-3: #333;
    --theme-color-4: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: inherit;
    text-decoration: none;
    font-family: 'Roboto',
        sans-serif;
    scroll-behavior: smooth;
}

body {
    z-index: -2;
    background-color: var(--theme-color-4);
    background-image: radial-gradient(rgb(243, 243, 243) 15%, transparent 16%),
        radial-gradient(rgb(243, 243, 243) 15%, transparent 16%);
    background-size: 150px 150px;
    background-position: 0 0,
        75px 75px;
    background-attachment: fixed;
}

/* 
    ### NAVBAR  ###
                    */

.navbar {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin-right: 3%;
}

.navbar--diagonal-background {
    position: relative;
    overflow: hidden;
}

.navbar--diagonal-background::before {
    content: "";
    position: absolute;
    width: 40%;
    height: 100%;
    left: -5%;
    z-index: -1;
    background: linear-gradient(var(--theme-color-1), var(--theme-color-1)) 0 0 repeat;
    transform: skewX(-60deg);
    animation: diagonal-background-navbar 2s;
    animation-delay: 0.5s;
    animation-fill-mode: backwards;
}

.navbar__link {
    margin: 1rem 1.5rem 0.2rem 1.5rem;
    text-transform: uppercase;
    color: var(--theme-color-2);
}

.navbar__link:last-child {
    margin-right: 8%;
}

.navbar__link a {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: emerging 2s;
    animation-delay: 2.4s;
    animation-fill-mode: backwards;
}

.navbar__link span {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.navbar__link hr {
    border-top: 2px solid;
    width: 0%;
    visibility: hidden;
    transition: width .4s ease;
}

.navbar__link:hover hr {
    width: 100%;
    visibility: visible;
}

.container {
    width: 75%;
    margin: auto;
}

/* 
    ### CARD ###
                    */

.card {
    margin-bottom: 9rem;
}

.card:first-of-type {
    margin: 3rem 0 10rem 0;
}

.card__header {
    font-size: 3rem;
    color: var(--theme-color-3);
    font-weight: bold;
    margin-bottom: 5rem;
    padding-bottom: 1rem;
    animation: emerging 2s;
    animation-delay: 3s;
    animation-fill-mode: backwards;
    /* border-bottom: 1px solid var(--theme-color-3); */
}

.card__header--left {
    margin-left: 15%;
    margin-right: 5%;
}

.card__header--right {
    text-align: right;
    margin-right: 15%;
    margin-left: 5%;
}

/* 
    ### PERSONAL DATA ###
                            */

.welcome-message {
    position: relative;
    height: 35rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-message--diagonal-background {
    position: relative;
    overflow: hidden;
}

.welcome-message--diagonal-background::before {
    content: "";
    position: absolute;
    width: 110%;
    height: 100%;
    right: -65%;
    z-index: -1;
    background-image: linear-gradient(#C33764, #1D2671);
    transform: skewX(-65deg);
    animation: diagonal-background-welcome-message 2s;
    animation-delay: 0.5s;
    animation-fill-mode: backwards;
}

.welcome-message__welcome {
    font-size: 20rem;
    margin-bottom: 3rem;
    font-weight: bold;
    font-family: 'Open Sans',
        sans-serif;
}

@keyframes diagonal-background-welcome-message {
    0% {
        width: 0;
    }

    100% {
        width: 110%;
    }
}

@media only screen and (max-width: 1450px) {

    .welcome-message--diagonal-background::before {
        width: 115%;
        transform: skewX(-55deg);
    }

    .welcome-message__welcome {
        font-size: 18rem;
    }

    @keyframes diagonal-background-welcome-message {
        0% {
            width: 0;
        }

        100% {
            width: 115%;
        }
    }
}

@media only screen and (max-width: 1165px) {

    .welcome-message__welcome {
        font-size: 15rem;
    }
}

@media only screen and (max-width: 960px) {

    .welcome-message--diagonal-background::before {
        transform: skewX(-48deg);
    }

    .welcome-message__welcome {
        font-size: 13rem;
    }
}

@media only screen and (max-width: 730px) {

    .card:first-of-type {
        margin-top: 0;
        margin-bottom: 5rem;
    }

    .welcome-message--diagonal-background::before {
        width: 110%;
    }

    .welcome-message__welcome {
        font-size: 10rem;
        margin-bottom: 1.5rem;
    }

    @keyframes diagonal-background-welcome-message {
        0% {
            width: 0;
        }

        100% {
            width: 110%;
        }
    }
}

@media only screen and (max-width: 600px) {

    .welcome-message--diagonal-background::before {
        width: 105%;
    }

    .welcome-message--diagonal-background::before {
        transform: skewX(-45deg);
    }

    .welcome-message {
        height: 30rem;
    }

    .welcome-message__welcome {
        font-size: 9rem;
    }

    @keyframes diagonal-background-welcome-message {
        0% {
            width: 0;
        }

        100% {
            width: 105%;
        }
    }
}

@media only screen and (max-width: 500px) {

    .welcome-message--diagonal-background::before {
        transform: skewX(-37deg);
    }

    .welcome-message__welcome {
        font-size: 8rem;
    }
}

@media only screen and (max-width: 420px) {

    .welcome-message--diagonal-background::before {
        transform: skewX(-32deg);
    }

    .welcome-message__welcome {
        font-size: 6.5rem;
    }
}


.welcome-message__welcome span {
    color: rgb(156, 12, 240);
    animation: emerging 1s;
    animation-delay: 3s;
    animation-fill-mode: backwards;
}

/* 
    ABOUT ME 
                */

.about-me {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 18rem;
    box-shadow: 10px 9px 11px 4px rgb(0, 0, 0, 0.3);
    padding: 2rem 1rem;
    background-color: white;
    animation: emerging 2s;
    animation-delay: 3s;
    animation-fill-mode: backwards;
}

.about-me__photo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 2px solid var(--theme-color-2);
}

.about-me__photo img {
    border-radius: 100%;
    width: 14rem;
    height: 14rem;
    object-fit: cover;
}

.about-me__details-me {
    display: flex;
    padding: 2rem 0 2rem 3rem;
}

.details_me__left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-weight: bold;
    font-size: 1.7rem;
    text-align: center;
}

.details_me__right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 8%;
    font-size: 1.5rem;
    color: var(--theme-color-2);
    font-weight: bold;
}

/* 
    ### TECHNOLOGIES ###
                            */

.skills {
    display: flex;
    justify-content: space-around;
    animation: emerging 2s;
    animation-delay: 3s;
    animation-fill-mode: backwards;
}

.skills__tech-card {
    width: calc(90%/3);
    display: grid;
    grid-template-rows: 16rem 5rem 5rem;
    color: var(--theme-color-4);
    box-shadow: 10px 9px 11px -0px rgb(0, 0, 0, 0.4);
    border-radius: 0.5%;
}

.skills__tech-card--grad1 {
    background: rgb(223, 15, 65);
    background: linear-gradient(43deg, rgba(223, 15, 65, 1) 0%, rgba(158, 18, 208, 1) 100%);
    /* background-image: linear-gradient(45deg, #c0392b, #8e44ad); */
}

.skills__tech-card--grad2 {
    background: rgb(158, 18, 208);
    background: linear-gradient(43deg, rgba(158, 18, 208, 1) 0%, rgba(27, 115, 207, 1) 100%);
    /* background-image: linear-gradient(45deg, #159957, #155799); */
}

.skills__tech-card--grad3 {
    background: rgb(27, 170, 207);
    background: linear-gradient(43deg, rgba(27, 170, 207, 1) 0%, rgba(27, 207, 129, 1) 100%);
    /* background-image: linear-gradient(45deg, #30E8BF, #FF8235); */
}

.tech-card__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8rem;
    margin-bottom: 2rem;
    color: white;
}

.logo__css3 {
    font-size: 6rem;
    margin-top: 6rem;
}

.logo__html5 {
    font-size: 6rem;
    margin-bottom: 4rem;
}

.logo__javascript {
    font-size: 5.5rem;
    margin-top: 6rem;
    margin-bottom: 0.3rem;
}

.logo__java {
    font-size: 10rem;
    align-self: center;
}

.logo__tool {
    font-size: 6.5rem;
    margin-top: 2.5rem;
}

.tech-card__header {
    text-align: center;
    font-size: 3rem;
    color: white;
}

.tech-card__details {
    text-align: center;
    margin: 0 1rem;
}

/* 
    ### PROJECTS ### 
                    */

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    animation: emerging 2s;
    animation-delay: 3s;
    animation-fill-mode: backwards;
}

.projects__project {
    --side-margin: 3%;
    width: calc(100%/3 - 2*var(--side-margin));
    height: 20rem;
    margin: 0 var(--side-margin) 4rem var(--side-margin);
    display: grid;
    grid-template-rows: 85% 15%;
    background-color: rgb(254, 254, 254);
    box-shadow: 10px 9px 11px -7px rgb(0, 0, 0, 0.3);
    transition: transform 0.5s,
        box-shadow 0.5s;
}

.projects__project:hover {
    transform: scale(1.1);
    box-shadow: 10px 9px 11px 5px rgb(0, 0, 0, 0.3);
}

.project__img {
    position: relative;
}

.img__photo {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

.img__more {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    opacity: 0;
    background-color: rgb(0, 0, 0, 0.5);
    transition: opacity 0.5s;
}

.projects__project:hover .img__more {
    opacity: 1;
}

.more__description {
    color: white;
    margin-bottom: 1.5rem;
    text-align: center;
    padding: 1rem;
    font-weight: bold;
    cursor: default;
}

.more__button {
    color: white;
    padding: 0.6rem 2rem;
    background-color: var(--theme-color-1);
    border-radius: 0.3rem;
    border: none;
    cursor: pointer;
    outline: none;
    transition: background-color 0.2s;
}

.more__button:active {
    transform: scale(0.97);
}

.more__button:hover {
    background-color: var(--theme-color-2);
}

.project__header {
    color: rgb(99, 99, 99);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
}

footer {
    background-image: linear-gradient(#C33764, #1D2671);
}

.contact {
    padding: 3rem 0 4rem 0;
    width: 50%;
}

.contact__header {
    margin-bottom: 1.5rem;
    font-size: 2rem;
    color: rgb(252, 240, 231);
}

.contact__form {
    display: flex;
    flex-direction: column;
}

.contact__form label {
    margin-bottom: 0.5rem;
    color: rgb(252, 240, 231);
}

.contact__form input {
    border-radius: 1rem;
    margin-bottom: 1rem;
    height: 2rem;
    border: 0;
    outline: none;
    padding: 0 1rem;
    color: var(--theme-color-3);
}

.contact__form textarea {
    border-radius: 1rem;
    outline: none;
    padding: 1rem 1rem;
    color: var(--theme-color-3);
}

.contact__form button {
    align-self: flex-end;
    background-color: #C33764;
    color: rgb(252, 240, 231);
    border-radius: 1rem;
    border: 0;
    height: 2.2rem;
    width: 25%;
    margin-top: 2rem;
    outline: none;
    cursor: pointer;
}

@keyframes diagonal-background-navbar {
    0% {
        width: 0;
    }

    100% {
        width: 40%;
    }
}

@keyframes emerging {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@media only screen and (max-width: 1200px) {

    .container {
        width: 80%;
    }

    /* 
    ### PERSONAL DATA ###
                            */

    .about-me {
        grid-template-rows: 16rem;
        padding: 2.9rem 0;
    }

    .about-me__photo img {
        width: 12rem;
        height: 12rem;
    }

    .details_me__right {
        padding-left: 5%;
    }

    /* 
    ### TECHNOLOGIES ###
                            */

    .skills__tech-card {
        grid-template-rows: 13rem 4rem 4rem;
    }

    .logo__css3 {
        font-size: 5rem;
        margin-top: 6rem;
    }

    .logo__html5 {
        font-size: 5rem;
        margin-bottom: 4rem;
    }

    .logo__javascript {
        font-size: 4.5rem;
        margin-top: 6rem;
        margin-bottom: 0.3rem;
    }

    .logo__java {
        font-size: 9rem;
    }

    .logo__tool {
        font-size: 5.5rem;
        margin-top: 2rem;
    }

    .tech-card__header {
        font-size: 2rem;
    }

    .tech-card__details {
        margin: 0 0.6rem;
    }

    .projects__project {
        height: 18rem;
    }
}

@media only screen and (max-width: 1000px) {

    .navbar--diagonal-background::before {
        left: -10%;
    }

    .container {
        width: 85%
    }

    .card {
        margin-bottom: 6rem;
    }

    .card__header {
        font-size: 2rem;
        margin-bottom: 3.5rem;
    }

    .about-me {
        grid-template-rows: 14rem;
    }

    .about-me__details-me {
        padding: 1rem 0 1rem 3rem;
    }

    .details_me__right {
        padding-right: 1.1rem;
        font-size: 1.3rem;
    }

    .skills {
        flex-wrap: wrap;
    }

    .skills__tech-card {
        width: calc(82%/2);
        grid-template-rows: 15rem 3.5rem 5rem;
        margin-bottom: 2rem;
    }

    .skills__tech-card:last-of-type {
        margin-bottom: 0;
    }

    .projects__project {
        --side-margin: 5%;
        width: calc(100%/2 - 2*var(--side-margin));
        height: 19rem;
        margin: 0 var(--side-margin) 4rem var(--side-margin);
    }
}

@media only screen and (max-width: 800px) {

    .navbar {
        margin-right: 0;
    }

    .navbar__link span {
        font-size: 1.2rem;
    }

    .container {
        width: 90%;
    }

    .about-me__photo {
        border-right: none;
    }

    .about-me__details-me {
        padding: 1rem 0 1rem 1rem;
    }

    .details_me__right {
        font-size: 1.1rem;
    }

    .about-me__photo img {
        width: 11rem;
        height: 11rem;
    }

    .skills {
        padding: 0 1.5rem;
        justify-content: space-evenly;
    }

    .skills__tech-card {
        width: calc(80%/2);
        grid-template-rows: 13rem 2.5rem 4rem;
        margin-bottom: 2rem;
    }

    .logo__css3 {
        font-size: 4.5rem;
        margin-top: 6rem;
    }

    .logo__html5 {
        font-size: 4.5rem;
        margin-bottom: 4rem;
    }

    .logo__javascript {
        font-size: 4rem;
        margin-top: 6rem;
        margin-bottom: 0.3rem;
    }

    .logo__java {
        font-size: 8rem;
    }

    .logo__tool {
        font-size: 4.5rem;
        margin-top: 2.5rem;
    }

    .tech-card__header {
        font-size: 1.5rem;
    }

    .tech-card__details {
        margin: 0 0.6rem;
    }
}

@media only screen and (max-width: 660px) {

    .navbar__link {
        margin-right: 0;
    }

    .navbar__link span {
        font-size: 1.1rem;
    }

    .card {
        margin-bottom: 5rem;
    }

    .about-me {
        grid-template-rows: 13rem;
        padding: 1.5rem 0;
    }

    .about-me__photo img {
        width: 8.5rem;
        height: 8.5rem;
    }

    .about-me__details-me {
        padding: 0.5rem 0 0.5rem 0.5rem;
    }

    .details_me__left {
        font-size: 1.1rem;
    }

    .details_me__right {
        font-size: 0.9rem;
    }

    .skills {
        padding: 0;
    }

    .skills__tech-card {
        width: calc(77%/2);
        grid-template-rows: 10rem 2.5rem 4rem;
    }

    .logo__css3 {
        font-size: 3.5rem;
    }

    .logo__html5 {
        font-size: 3.5rem;
        margin-top: 1.5rem;
    }

    .logo__javascript {
        font-size: 3rem;
    }

    .logo__java {
        margin-top: 1rem;
        font-size: 6.5rem;
    }

    .logo__tool {
        font-size: 3.5rem;
    }

    .tech-card__header {
        font-size: 1.3rem;
    }

    .tech-card__details {
        font-size: 0.8rem;
    }

    .projects__project {
        height: 15rem;
    }

    .contact {
        width: 75%;
    }
}

@media only screen and (max-width: 500px) {

    .navbar--diagonal-background::before {
        left: -20%;
    }

    .container {
        width: 95%;
        margin: auto;
    }

    .card {
        margin-bottom: 3rem;
    }

    .card:first-of-type {
        margin: 2rem 0 3rem 0;
    }

    .card__header {
        margin-bottom: 2rem;
    }

    .about-me {
        grid-template-columns: 1fr;
        grid-template-rows: 10rem 7rem;
        ;
        box-shadow: none;
        padding: 0;
    }

    .about-me__details-me {
        justify-content: center;
        padding-left: 17%;
    }

    .details_me__left {
        font-size: 1rem;
    }

    .details_me__right {
        font-size: 0.8rem;
    }

    .skills {
        flex-direction: column;
        align-items: center;
    }

    .skills__tech-card {
        width: 15rem;
        grid-template-rows: 12rem 2.5rem 4rem;
    }

    .logo__css3 {
        font-size: 4rem;
    }

    .logo__html5 {
        font-size: 4rem;
        margin-top: 1.5rem;
    }

    .logo__javascript {
        font-size: 3.5rem;
    }

    .logo__java {
        margin-top: 1rem;
        font-size: 7rem;
    }

    .logo__tool {
        font-size: 4rem;
    }

    .projects {
        flex-direction: column;
        align-items: center;
    }

    .projects__project {
        height: 16rem;
        width: 15rem;
    }

    .contact {
        width: 90%;
    }

}

@media only screen and (max-width: 420px) {

    .navbar--diagonal-background::before {
        left: -22%;
    }

    .navbar__link {
        margin-left: 1rem;
    }

    .navbar__link span {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 340px) {
    .navbar__link {
        margin-left: 0.9rem;
    }

    .navbar__link span {
        font-size: 0.9rem;
    }
}