* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: inherit;
    text-decoration: none;
}

.navbar-links{
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.navbar-links--background-slash{
    position: relative;
    overflow: hidden;
}

.navbar-links--background-slash::before {
    --background-color: RGB(32, 178, 170);
    content: "";
    position: absolute;
    width: 200%;
    height: 600%;
    z-index: -1;
    background: linear-gradient(var(--background-color), var(--background-color)) 0 0 repeat;
    transform: rotate(-30deg);
}

.navbar-links__link {
    margin: 1rem 2.5rem 0.2rem 2.5rem;
}

.navbar-links__link > a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar-links__link > a > span {
    margin-bottom: 0.5rem;
}

.navbar-links__link > a > hr {
    border-top: 1.5px solid;
    width: 0%;
    visibility: hidden;
}

.navbar-links__link:hover > a > hr {
    width: 100%;
    visibility: visible;
    transition: width .4s ease;
}