* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: inherit;
    text-decoration: none;
    font-family: 'Roboto',
        sans-serif;
}

:root {
    /* hsl(177, 70%, 41%) */
    --theme-color-1-hue: 0;
    --theme-color-1-saturation: 70%;
    --theme-color-1-lightness: 41%;
    --theme-color-1: hsl(var(--theme-color-1-hue), var(--theme-color-1-saturation), var(--theme-color-1-lightness));
}

body {
    background-attachment: fixed;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23e1e1e1' fill-opacity='0.4'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
} 

.navbar {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.navbar--diagonal-background {
    position: relative;
    overflow: hidden;
}

.navbar--diagonal-background::before {
    content: "";
    position: absolute;
    width: 40%;
    height: 100%;
    left: -5%;
    z-index: -1;
    background: linear-gradient(var(--theme-color-1), var(--theme-color-1)) 0 0 repeat;
    animation: diagonal-background-navbar 1.9s;
    transform: skewX(-60deg);
}

.navbar__link {
    margin: 1rem 1.5rem 0.2rem 1.5rem;
    text-transform: uppercase;
    --theme-color-1-saturation: 80%;
    --theme-color-1-lightness: 45%;
    color: hsl(var(--theme-color-1-hue), var(--theme-color-1-saturation), var(--theme-color-1-lightness));
}

.navbar__link:last-child {
    margin-right: 8rem;
}

.navbar__link a {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: emerging 2s;
    animation-delay: 1.8s;
    animation-fill-mode: backwards;
}

.navbar__link span {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.navbar__link hr {
    border-top: 2px solid;
    width: 0%;
    visibility: hidden;
    transition: width .4s ease;
}

.navbar__link:hover hr {
    width: 100%;
    visibility: visible;
}

.container {
    width: 75%;
    margin: auto;
}

.card {
    margin: 3rem 0 4.5rem 0;
}

.card__header {
    font-size: 3rem;
    text-align: center;
    color: var(--theme-color-1);
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 3rem;
}

.personal-data {
    height: 70vh;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 1fr;
}

.personal-data--diagonal-background {
    position: relative;
    overflow: hidden;
}

.personal-data--diagonal-background::before {
    content: "";
    position: absolute;
    width: 400%;
    height: 75vw;
    left: -10%;
    z-index: -1;
    background: url(../image/backdrop-874452_1280.jpg) 0 0 repeat;
    transform: rotate(30deg);
    animation: diagonal-background-personal-data 2s;
}

.personal-data__media {
    align-self: end;
    font-size: 1.1rem;
    color: var(--theme-color-1);
    animation: emerging 2s;
    animation-delay: 2.2s;
    animation-fill-mode: backwards;
}

.personal-data__media p {
    margin-bottom: 1.1rem;
}
.personal-data__media i {
    margin-right: 0.9rem;
}

.media__social-media {
    font-size: 2.1rem;
}

.media__social-media:hover {
    --theme-color-1-lightness: 47%;
    color: hsl(var(--theme-color-1-hue), var(--theme-color-1-saturation), var(--theme-color-1-lightness));
}

.personal-data__circle-background {
    width: 16rem;
    height: 16rem;
    background-color: white;
    border-radius: 100%;
    justify-self: center;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-background__circle-photo {
    width: 14rem;
    height: 14rem;
    background-image: url(../image/patryk2.jpg);
    background-position: 0 0;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 100%;
}

.personal-data__details {
    align-self: start;
    padding: 3rem 0;
    color: white;
    font-size: 1.3rem;
    animation: emerging 2s;
    animation-delay: 2.7s;
    animation-fill-mode: backwards;
}

.personal-data__details p {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
    font-family: 'Audiowide',
    sans-serif;
}

.personal-data__details p:first-child {
    font-size: 4rem;
}

.technologies{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
}

.technologies__java-logo {
    order: 2;
    display: flex;
    justify-content: center;
    font-size: 10rem;
    color: red;
}

.technologies__back-end-details{
    order: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.back-end-details__header{
    margin-bottom: 0.5rem;
}

.technologies__front-end-logos {
    order: 1;
    font-size: 6rem;
    display: flex;
    justify-content: center;
}

.front-end-logos__css3{
    align-self: flex-end;
    color: rgb(0, 109, 252);
}
.front-end-logos__html5{
    color: rgb(255, 102, 0);
}
.front-end-logos__javascript{
    align-self: flex-end;
    color: rgb(247, 247, 16);
    font-size: 5.5rem;
}

.technologies__front-end-details {
    order: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.front-end-details__header {
    margin-bottom: 0.5rem;
}


/* @keyframes diagonal-background-navbar {
    0% {
        width: 0;
    }

    100% {
        width: 40%;
    }
}

@keyframes emerging {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@keyframes diagonal-background-personal-data {
    0% {
        height: 0;
    }

    100% {
        height: 76vw;
    }
} */