* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: inherit;
    text-decoration: none;
    font-family: 'Roboto',
        sans-serif;
}

:root {
    /* hsl(177, 70%, 41%) */
    --theme-color-1-hue: 177;
    --theme-color-1-saturation: 70%;
    --theme-color-1-lightness: 41%;
    --theme-color-1: hsl(var(--theme-color-1-hue), var(--theme-color-1-saturation), var(--theme-color-1-lightness));
}

.navbar {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.navbar--diagonal-background {
    position: relative;
    overflow: hidden;
    /* border-bottom: 2px solid var(--theme-color-1); */
}

.navbar--diagonal-background::before {
    content: "";
    position: absolute;
    width: 200%;
   /*  height: 300px; */
    height: 20vw;
    z-index: -1;
    background: linear-gradient(var(--theme-color-1), var(--theme-color-1)) 0 0 repeat;
    transform: rotate(-30deg);
    animation: diagonal-background-navbar 2s;
}

@keyframes diagonal-background-navbar {
    0% {
        /* height: 0px; */
            height: 0;
    }

    100% {
        /* height: 300px */
        height: 20vw;
    }
}

.navbar__link {
    margin: 1rem 2.5rem 0.2rem 2.5rem;
    font-weight: bold;
    --theme-color-1-saturation: 80%;
    --theme-color-1-lightness: 45%;
    color: hsl(var(--theme-color-1-hue), var(--theme-color-1-saturation), var(--theme-color-1-lightness));
}

.navbar__link a {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: emerging 2s;
    animation-delay: 1.8s;
    animation-fill-mode: backwards;
}

@keyframes emerging {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

.navbar__link span {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
}

.navbar__link hr {
    border-top: 2px solid;
    width: 0%;
    visibility: hidden;
    transition: width .4s ease;
}

.navbar__link:hover hr {
    width: 100%;
    visibility: visible;
}

.container {
    width: 75%;
    margin: auto;
}

.card{
    margin-top: 3rem;
}

.personal-data{
    height: 70vh;
    display: grid;
    grid-template-columns: 2fr 3fr 2fr ;
    grid-template-rows: 1fr;
}

.personal-data--diagonal-background{
    position: relative;
    overflow: hidden;
}

.personal-data--diagonal-background::before {
    content: "";
    position: absolute;
    width: 400%;
    height: 76vw;
    left: -10%;
    z-index: -1;
    background: linear-gradient(var(--theme-color-1), var(--theme-color-1)) 0 0 repeat;
    transform: rotate(30deg);
    animation: diagonal-background-personal-data 2s;
}

@keyframes diagonal-background-personal-data {
    0% {
        /* height: 0px; */
        height: 0;
    }

    100% {
        /* height: 300px */
        height: 76vw;
    }
}
.personal-data__text-before{
    align-self: end;
    padding: 2rem;
    font-size: 1.5rem;
    color: var(--theme-color-1);
}

.personal-data__circle-1{
    width: 16rem;
    height: 16rem;
    background-color: white;
    border-radius: 100%;
    justify-self: center;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-1__circle-2{
    width: 14rem;
    height: 14rem;
    background-image: url(../image/lucas-sankey-9R-CH7PR150-unsplash.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 100%;
}

.personal-data__text-after {
    align-self: start;
    padding: 2rem;
    color: white;
    font-size: 1.5rem;
}