:root {
    --theme-color-1: #FCCd04;
    --theme-color-2: #A64Ac9;
    --theme-color-3: #333;
    --theme-color-4: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: inherit;
    text-decoration: none;
    font-family: 'Roboto',
        sans-serif;
    scroll-behavior: smooth;
}

/* 
    ### NAVBAR  ###
                    */

.navbar {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.navbar--diagonal-background {
    position: relative;
    overflow: hidden;
}

.navbar--diagonal-background::before {
    content: "";
    position: absolute;
    width: 40%;
    height: 100%;
    left: -5%;
    z-index: -1;
    background: linear-gradient(var(--theme-color-1), var(--theme-color-1)) 0 0 repeat;
    transform: skewX(-60deg);
    animation: diagonal-background-navbar 2s;
    animation-delay: 0.5s;
    animation-fill-mode: backwards;
}

.navbar__link {
    margin: 1rem 1.5rem 0.2rem 1.5rem;
    text-transform: uppercase;
    color: var(--theme-color-2);
}

.navbar__link:last-child {
    margin-right: 8%;
}

.navbar__link a {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: emerging 2s;
    animation-delay: 2.4s;
    animation-fill-mode: backwards;
}

.navbar__link span {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
}

.navbar__link hr {
    border-top: 2px solid;
    width: 0%;
    visibility: hidden;
    transition: width .4s ease;
}

.navbar__link:hover hr {
    width: 100%;
    visibility: visible;
}

.container {
    width:70%;
    margin: auto;
}

/* 
    ### CARD ###
                    */

.card {
    margin-bottom: 9rem;
}

.card:first-of-type {
    margin: 3rem 0 10rem 0;
}

.card__header {
    font-size: 3rem;
    color: var(--theme-color-3);
    font-weight: bold;
    margin-bottom: 5rem;
    padding-bottom: 1rem;
    animation: emerging 2s;
    animation-delay: 3s;
    animation-fill-mode: backwards;
    border-bottom: 1px solid var(--theme-color-3);
}

.card__header--left {
    margin-left: 18%;
    margin-right: 5%;
}

.card__header--right {
    text-align: right;
    margin-right: 18%;
    margin-left: 5%;
}

/* 
    ### PERSONAL DATA ###
                            */

.welcome-message {
    position: relative;
    height: 35rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-message--diagonal-background {
    position: relative;
    overflow: hidden;
}

.welcome-message--diagonal-background::before {
    content: "";
    position: absolute;
    width: 110%;
    height: 100%;
    right: -65%;
    z-index: -1;
    background-image: linear-gradient(#C33764, #1D2671);
    transform: skewX(-65deg);
    animation: diagonal-background-welcome-message 2s;
    animation-delay: 0.5s;
    animation-fill-mode: backwards;
}

.welcome-message__welcome {
    font-size: 20rem;
    margin-bottom: 3rem;
    font-weight: bold;
    font-family: 'Open Sans',
        sans-serif;
}

.welcome-message__welcome span {
    color: rgb(156, 12, 240);
    animation: emerging 1s;
    animation-delay: 3s;
    animation-fill-mode: backwards;
}

/* 
    ABOUT ME 
                */

.about-me {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 18rem;
    box-shadow: 10px 9px 11px 4px rgb(0, 0, 0, 0.3);
    padding: 2rem 1rem;
}

.about-me__photo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 2px solid var(--theme-color-2);
}

.about-me__photo img {
    border-radius: 100%;
    width: 14rem;
    height: 14rem;
    object-fit: cover;
    object-position: top;
}

.about-me__details-me {
    display: flex;
    padding: 2rem 0 2rem 2rem;
}

.details_me__left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-weight: bold;
    font-size: 1.1rem;
}

.details_me__right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 8%;
    font-size: 1.5rem;
    color: var(--theme-color-2);
    font-weight: bold;
}

/* 
    ### TECHNOLOGIES ###
                            */

.skills {
    display: flex;
    justify-content: space-around;
    animation: emerging 2s;
    animation-delay: 3s;
    animation-fill-mode: backwards;
}

.skills__tech-card {
    width: calc(90%/3);
    display: grid;
    grid-template-rows: 16rem 5rem 5rem;
    color: var(--theme-color-4);
    box-shadow: 10px 9px 11px -0px rgb(0, 0, 0, 0.4);
    border-radius: 0.5%;
}

.skills__tech-card--grad1 {
    background-image: linear-gradient(45deg, #c0392b, #8e44ad);
}

.skills__tech-card--grad2 {
    background-image: linear-gradient(45deg, #159957, #155799);
}

.skills__tech-card--grad3 {
    background-image: linear-gradient(45deg, #30E8BF, #FF8235);
}

.tech-card__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8rem;
    margin-bottom: 2rem;
    color: white;
}

.logo__css3 {
    font-size: 6rem;
    margin-top: 6rem;
}

.logo__html5 {
    font-size: 6rem;
    margin-bottom: 4rem;
}

.logo__javascript {
    font-size: 5.5rem;
    margin-top: 6rem;
    margin-bottom: 0.3rem;
}

.logo__java {
    font-size: 10rem;
    align-self: center;
}

.logo__tool {
    font-size: 6.5rem;
    margin-top: 2.5rem;
}

.tech-card__header {
    text-align: center;
    font-size: 3rem;
    color: white;
}

.tech-card__details {
    text-align: center;
    margin: 0 1rem;
}

/* 
    ### PROJECTS ### 
                    */

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    animation: emerging 2s;
    animation-delay: 3s;
    animation-fill-mode: backwards;
}

.projects__project {
    --side-margin: 3%;
    width: calc(100%/3 - 2*var(--side-margin));
    height: 15rem;
    margin: 0 var(--side-margin) 4rem var(--side-margin);
    display: grid;
    grid-template-rows: 85% 15%;
    background-color: rgb(254, 254, 254);
    box-shadow: 10px 9px 11px -7px rgb(0, 0, 0, 0.3);
    transition: transform 0.5s,
        box-shadow 0.5s;
}

.projects__project:hover {
    transform: scale(1.1);
    box-shadow: 10px 9px 11px 5px rgb(0, 0, 0, 0.3);
}

.project__img {
    position: relative;
}

.img__photo {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

.img__more {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    opacity: 0;
    background-color: rgb(0, 0, 0, 0.5);
    transition: opacity 0.5s;
}

.projects__project:hover .img__more {
    opacity: 1;
}

.more__description {
    color: white;
    margin-bottom: 1.5rem;
    text-align: center;
    padding: 1rem;
    font-weight: bold;
    cursor: default;
}

.more__button {
    color: white;
    padding: 0.6rem 2rem;
    background-color: var(--theme-color-1);
    border-radius: 0.3rem;
    border: none;
    cursor: pointer;
    outline: none;
    transition: background-color 0.2s;
}

.more__button:active {
    transform: scale(0.97);
}

.more__button:hover {
    background-color: var(--theme-color-2);
}

.project__header {
    color: rgb(99, 99, 99);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
}

@keyframes diagonal-background-navbar {
    0% {
        width: 0;
    }

    100% {
        width: 40%;
    }
}

@keyframes diagonal-background-welcome-message {
    0% {
        width: 0;
    }

    100% {
        width: 110%;
    }
}

@keyframes emerging {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@media only screen and (max-width: 1200px) {

    .container{
        width: 80%;
    }

    /* 
    ### PERSONAL DATA ###
                            */

    .about-me {
        grid-template-rows: 16rem;
        padding: 2.9rem 0;
    }

    .about-me__photo img {
        width: 12rem;
        height: 12rem;
    }

    .details_me__left {
        font-size: 0.9rem;
    }

    .details_me__right {
        font-size: 1.2rem;
        padding-left: 5%;
    }

    /* 
    ### TECHNOLOGIES ###
                            */

    .skills__tech-card {
        grid-template-rows: 13rem 4rem 4rem;
    }

    .logo__css3 {
        font-size: 5rem;
        margin-top: 6rem;
    }

    .logo__html5 {
        font-size: 5rem;
        margin-bottom: 4rem;
    }

    .logo__javascript {
        font-size: 4.5rem;
        margin-top: 6rem;
        margin-bottom: 0.3rem;
    }

    .logo__java {
        font-size: 9rem;
    }

    .logo__tool {
        font-size: 5.5rem;
        margin-top: 2rem;
    }

    .tech-card__header {
        font-size: 2rem;
    }

    .tech-card__details {
        margin: 0 0.6rem;
    }
}

@media only screen and (max-width: 1000px){

    .container{
        width: 85%
    }

    .card__header{
        font-size: 2rem;
        margin-bottom: 3.5rem;
    }

    .about-me {
        grid-template-rows: 14rem;
    }

    .skills{
        flex-wrap: wrap;
    }

    .skills__tech-card {
        width: calc(80%/2);
        grid-template-rows: 15rem 5rem 5rem;
        margin-bottom: 2rem;
    }

    .skills__tech-card:last-of-type{
        margin-bottom: 0;
    }

    .projects__project {
        --side-margin: 3%;
        width: calc(100%/2 - 2*var(--side-margin));
        margin: 0 var(--side-margin) 4rem var(--side-margin);
    }
}
    